<!--<h3>Changer le mot de passe</h3>
<form (ngSubmit)="onSubmit()">
  <div>
    <label for="oldPassword">Ancien mot de passe</label>
    <input [type]="passwordType" [(ngModel)]="passwords.oldPassword" name="oldPassword" required />
    <button type="button" (click)="togglePasswordType()">
      <i class="fa fa-eye" *ngIf="passwordType === 'password'"></i>
      <i class="fa fa-eye-slash" *ngIf="passwordType === 'text'"></i>
    </button>
  </div>
  <div>
    <label for="newPassword">Nouveau mot de passe</label>
    <input [type]="passwordType" [(ngModel)]="passwords.newPassword" name="newPassword" required />
    <button type="button" (click)="togglePasswordType()">
      <i class="fa fa-eye" *ngIf="passwordType === 'password'"></i>
      <i class="fa fa-eye-slash" *ngIf="passwordType === 'text'"></i>
    </button>
  </div>
  <button type="submit">Changer le mot de passe</button>
</form>-->

<h3>Changer le mot de passe</h3>
<form (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="oldPassword">Ancien mot de passe</label>
    <div class="input-container">
      <input
        [type]="passwordType"
        [(ngModel)]="passwordData.oldPassword"
        name="oldPassword"
        required
        class="form-control"
        placeholder="Entrez l'ancien mot de passe"
      />
      <button type="button" (click)="togglePasswordType()" class="toggle-btn">
        <i class="fa" [ngClass]="passwordType === 'password' ? 'fa-eye' : 'fa-eye-slash'"></i>
      </button>
    </div>
  </div>

  <div class="form-group">
    <label for="newPassword">Nouveau mot de passe</label>
    <div class="input-container">
      <input
        [type]="passwordType"
        [(ngModel)]="passwordData.newPassword"
        name="newPassword"
        required
        class="form-control"
        placeholder="Entrez le nouveau mot de passe"
      />
      <button type="button" (click)="togglePasswordType()" class="toggle-btn">
        <i class="fa" [ngClass]="passwordType === 'password' ? 'fa-eye' : 'fa-eye-slash'"></i>
      </button>
    </div>
  </div>

  <button type="submit" class="btn-submit">Changer le mot de passe</button>
</form>
