{# templates/emails/register.html.twig #}
<h1>Bienvenue {{ user.name }}!</h1>

<p>
    Merci de vous être inscrit sur DivinDD. Votre compte a été créé avec succès.
</p>

<a href="http://localhost:4200/complete-profile/{{ user.id }}">Cliquez ici pour compléter votre profil.</a>


